body {
    margin: 0;
    font-family: 'Myseo Sans Cyrl', sans-serif;
    color: #333333;
}

@font-face {
    font-family: 'Myseo Sans Cyrl';
    src: url('../fonts/museosanscyrl-500.ttf');
}

@font-face {
    font-family: 'Myseo Sans Cyrl Bold';
    src: url('../fonts/Museo-Sans-Cyrl-700.ttf');
    font-weight: bold;
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    padding: 14px 35px;
    border: 0;
    border-radius: 6px;
    gap: 10px;
    background: #6933DC;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    background: #3a0d9bda;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}