.main {
    padding-top: 190px;
    padding-bottom: 231px;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    max-width: 588px;
}

.main-title {
    font-size: 54px;
    font-family: 'Myseo Sans Cyrl Bold';
    line-height: 65px;
    text-align: left;
}

.main-title span {
    color: #6933DC;
}

.main-description {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    max-width: 486px;
}

.main-button {
    margin-top: 60px;
}

.main-button a {
    padding: 14px 35px;
    border: 0;
    border-radius: 6px;
    gap: 10px;
    background: #6933DC;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    display: inline-block;
}

.main-button a:hover {
    background: #3a0d9bda;
}